
<div class="m-2 p-2 bg-light">
	<h2 class="form-group-prepend mb-4"> 子论坛列表：</h2>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col"> id </th>
				<th scope="col"> name </th>
				<th scope="col"> edit </th>
			</tr>
		</thead>
		<tbody>
			<% listChildBBS.forEach(bbs => { %>
			<tr>
				<th scope="row"> <%= bbs.id %> </th>
				<td> <%= bbs.child_bbs %> </td>
				<td> <a class="text-primary" href="/admin/boardManagement/manageChildBoards/<%= bbs.id %>">Delete</a> </td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>




