
<div class="m-2 p-2">
	<h2 class="text-light my-3"> 在这里你可以对所有帖子进行管理 </h2>
	<ul class="nav btn-lg bg-light">
		<li class="nav-item">
			<a class="nav-link active" href="/admin/manageTopics/all">全部</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/admin/manageTopics/top"> 置顶 </a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/admin/manageTopics/star"> 精华 </a>
		</li>
		<% listBoard.forEach(board => { %>
			<li class="nav-item">
				<a class="nav-link" href="/admin/manageTopics/<%= board.id %>"> <%= board.board_name %> </a>
			</li>
		<% }) %>
	</ul>

	<table class="table bg-light text-dark mt-3">
		<thead class="thead-dark">
			<tr>
				<th scope="col"> id </th>
				<th scope="col"> title </th>
				<th scope="col"> board_name </th>
				<th scope="col"> Top? </th>
				<th scope="col"> Star? </th>
				<th scope="col"> edit </th>
			</tr>
		</thead>
		<tbody>
			<% if(id === "all") { %>
				<% allTopic.forEach(topic => { %>
					<tr>
						<th scope="row"> <%= topic.id %> </th>
						<td> <%= topic.title %> </td>
						<td> <%= topic.board_name %> </td>
						<td>
							<% if(topic.top === 1) {%>
								True
							<%} else {%>
								False
							<% } %>
						</td>
						<td>
							<% if(topic.star === 1) {%>
								True
							<%} else {%>
								False
							<% } %>
						</td>
						<td>
							<a class="text-primary btn btn-danger text-light mr-3" href="/admin/manageTopics/all/delete/<%= topic.id %>"> Delete </a>

							<% if(topic.top === 1) {%>
								<a class="text-primary btn btn-warning text-light mr-3" href="/admin/manageTopics/all/cancelTop/<%= topic.id %>"> Cancel top </a>
							<%} else {%>
								<a class="text-primary btn btn-success text-light mr-3" href="/admin/manageTopics/all/setTop/<%= topic.id %>"> Set top </a>
							<% } %>


							<% if(topic.star === 1) {%>
								<a class="text-primary btn btn-warning text-light mr-3" href="/admin/manageTopics/all/cancelStar/<%= topic.id %>"> Cancel star </a>
							<%} else {%>
								<a class="text-primary btn btn-success text-light mr-3" href="/admin/manageTopics/all/setStar/<%= topic.id %>"> Set star </a>
							<% } %>
						</td>
					</tr>
				<% })%>
			<% } else if(id === 'star'){ %>
				<% if (listStarTopic.length === 0) { %>
					<tr>
						<th scope="row"> -- </th>
						<td> ---- </td>
						<td> ----------- </td>
						<td> ----- </td>
						<td> ---- </td>
						<td> ---- </td>
					</tr>
				<% } else { %>
					<% listStarTopic.forEach(topic => { %>
						<tr>
							<th scope="row"> <%= topic.id %> </th>
							<td> <%= topic.title %> </td>
							<td> <%= topic.topic_type %> </td>
							<td>
								<% if(topic.top === 1) {%>
									True
								<%} else {%>
									False
								<% } %>
							</td>
							<td>
								<% if(topic.star === 1) {%>
									True
								<%} else {%>
									False
								<% } %>
							</td>
							<td>
								<a class="text-primary btn btn-danger text-light mr-3" href="/admin/manageTopics/all/delete/<%= topic.id %>"> Delete </a>
								<a class="text-primary btn btn-warning text-light" href="/admin/manageTopics/all/cancelStar/<%= topic.id %>"> Cancel star </a>
							</td>

						</tr>
					<% })%>
				<% } %>
			<% } else if(id === 'top'){ %>
				<% if (listTopTopic.length === 0) { %>
					<tr>
						<th scope="row"> -- </th>
						<td> ---- </td>
						<td> ----------- </td>
						<td> ----- </td>
						<td> ---- </td>
						<td> ---- </td>
					</tr>
				<% } else { %>
					<% listTopTopic.forEach(topic => { %>
						<tr>
							<th scope="row"> <%= topic.id %> </th>
							<td> <%= topic.title %> </td>
							<td> <%= topic.topic_type %> </td>
							<td>
								<% if(topic.top === 1) {%>
									True
								<%} else {%>
									False
								<% } %>
							</td>
							<td>
								<% if(topic.top === 1) {%>
								True
								<%} else {%>
								False
								<% } %>
							</td>
							<td>
								<a class="text-primary btn btn-danger text-light mr-3" href="/admin/manageTopics/all/delete/<%= topic.id %>"> Delete </a>
								<a class="text-primary btn btn-warning text-light" href="/admin/manageTopics/all/cancelTop/<%= topic.id %>"> Cancel top </a>
							</td>
						</tr>
					<% })%>
				<% } %>
			<% } else { %>
					<% if(listTopic.length === 0) { %>
						<tr>
							<th scope="row"> -- </th>
							<td> ---- </td>
							<td> ----------- </td>
							<td> ----- </td>
							<td> ---- </td>
							<td> ---- </td>
						</tr>
					<% } else {%>
						<% listTopic.forEach(topic => { %>
							<tr>
								<th scope="row"> <%= topic.id %> </th>
								<td> <%= topic.title %> </td>
								<td> <%= topic.topic_type %> </td>
								<td>
									<% if(topic.top === 1) {%>
										True
									<%} else {%>
										False
									<% } %>
								</td>
								<td> <% if(topic.star === 1) {%>
										True
									 <%} else {%>
										False
									 <% } %>
								</td>
								<td>
									<a class="text-primary btn btn-danger text-light mr-3" href="/admin/manageTopics/all/delete/<%= topic.id %>"> Delete </a>

									<% if(topic.top === 1) {%>
										<a class="text-primary btn btn-warning text-light mr-3" href="/admin/manageTopics/all/cancelTop/<%= topic.id %>"> Cancel top </a>
									<%} else {%>
										<a class="text-primary btn btn-success text-light mr-3" href="/admin/manageTopics/all/setTop/<%= topic.id %>"> Set top </a>
									<% } %>


									<% if(topic.star === 1) {%>
										<a class="text-primary btn btn-warning text-light mr-3" href="/admin/manageTopics/all/cancelStar/<%= topic.id %>"> Cancel star </a>
									<%} else {%>
										<a class="text-primary btn btn-success text-light mr-3" href="/admin/manageTopics/all/setStar/<%= topic.id %>"> Set star </a>
									<% } %>
								</td>
							</tr>
						<% }) %>
					<% } %>
			<% } %>
		</tbody>
	</table>
</div>



